<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title class="mb-2">
            <strong>สรุปผลการแข่งขัน</strong>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <th></th>
                <th>เหรียญทอง<img style="width:60px;height:60px;" src="../assets/images/gold_pic.png"></th>
                <th>เหรียญเงิน<img style="width:60px;height:60px;" src="../assets/images/silver_pic.png"></th>
                <th>เหรียญทองแดง<img style="width:60px;height:60px;" src="../assets/images/bronze_pic.png"></th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let agendaListItem of agendaList; let i = index">
                  <td>
                    {{ agendaListItem.name }}
                  </td>
                  <td>
                    {{ agendaListItem.gold }}
                  </td>
                  <td>
                    {{ agendaListItem.silver }}
                  </td>
                  <td>
                    {{ agendaListItem.bronze }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="mt-5">
        <mat-card-header>
          <mat-card-title class="mb-2">
            <strong>ยอดรวมเหรียญ</strong>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <th></th>
                <th>เหรียญทอง<img style="width:60px;height:60px;" src="../assets/images/gold_pic.png"></th>
                <th>เหรียญเงิน<img style="width:60px;height:60px;" src="../assets/images/silver_pic.png"></th>
                <th>เหรียญทองแดง<img style="width:60px;height:60px;" src="../assets/images/bronze_pic.png"></th>
                <th>ผลรวม</th>
              </thead>
              <tbody>
                <tr *ngFor="let teamListItem of teamList; let i = index">
                  <td>
                    {{ teamListItem.team }}
                  </td>
                  <td>
                    {{ teamListItem.gold }}
                  </td>
                  <td>
                    {{ teamListItem.silver }}
                  </td>
                  <td>
                    {{ teamListItem.bronze }}
                  </td>
                  <td>
                    {{ teamListItem.gold + teamListItem.silver + teamListItem.bronze  }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
