<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="mb-2">
            <strong>การติดต่อประสาน</strong>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img src="../assets/docs/contact/1.jpg" class="img-fluid" />
          <img src="../assets/docs/contact/2.jpg" class="img-fluid" />
          <img src="../assets/docs/contact/3.jpg" class="img-fluid" />
          <img src="../assets/docs/contact/4.jpg" class="img-fluid" />
          <img src="../assets/docs/contact/5.jpg" class="img-fluid" />
          <img src="../assets/docs/contact/6.jpg" class="img-fluid" />
          <img src="../assets/docs/contact/7.jpg" class="img-fluid" />
          <img src="../assets/docs/contact/8.jpg" class="img-fluid" />
          <img src="../assets/docs/contact/9.jpg" class="img-fluid" />
          <!-- <div *ngIf="contactList.length > 0">

          <table class="table">
            <thead>
              <th>#</th>
              <th>ตำแหน่ง</th>
              <th>ชื่อผู้ติดต่อ</th>
              <th>เบอร์โทร</th>
            </thead>
            <tbody>
              <tr *ngFor="let contactItem of contactList; let i = index">
                <td>
                  {{ i+1 }}
                </td>
                <td>
                  {{ contactItem.position }}
                </td>
                <td>
                  {{ contactItem.contactName }}
                </td>
                <td>
                  {{ contactItem.tel }}
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>