<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="mb-2">
            <strong>Gallery รูปภาพ</strong>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br/>
          
          <mat-nav-list>
            <a mat-list-item href="https://drive.google.com/drive/folders/1K8DBefMXansyzXtXRoqtNx8iBbOyCJkf?usp=sharing
            " target="_target">
              <mat-icon mat-list-icon>navigate_next</mat-icon> รูปภาพงานกีฬาสีสานสัมพันธ์ กฟน.3
            </a>
          </mat-nav-list>
          
          <!-- <iframe *ngFor="let galleryItem of galleryList" [src]="galleryItem.galleryUrl | safeUrl" width="165"
            height="128" frameborder="0" scrolling="no" style="margin-right:3px;"></iframe> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>