<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="mb-2">
            <strong>ข้อมูลทั่วไป</strong>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  สถานที่จัดแข่งขันกีฬา
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <mat-panel-title>
                <h4><a href="https://maps.app.goo.gl/XvQKp8vMcekYEHm87">พิกัดสนามกีฬา พระราเมศวร</a></h4>
              </mat-panel-title>

              <a  href="../assets/images/ground_sports/ground_sports1.jpg" target="_target"><img src="assets/images/ground_sports/ground_sports1.jpg"
                  class="img-fluid" style="margin: 20px;" width="45%"/></a>
              <a href="../assets/images/ground_sports/ground_sports2.jpg" target="_target"><img src="assets/images/ground_sports/ground_sports2.jpg"
                    class="img-fluid" width="45%"/></a>
              <a href="../assets/images/ground_sports/parade_line.png" target="_target"><img src="assets/images/ground_sports/parade_line.png"
                      class="img-fluid" style="margin: 20px;" width="45%"/></a>
              <a href="../assets/images/ground_sports/stand_line.jpg" target="_target"><img src="assets/images/ground_sports/stand_line.jpg"
                        class="img-fluid" width="45%"/></a>
            </mat-expansion-panel>

            <!-- <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  แผนที่ภายในสถานที่จัดแข่งขันกีฬา
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
                  <a href="../assets/images/map2.jpg" target="_target"><img src="../assets/images/map2.jpg"
                    class="img-fluid" /></a>
            </mat-expansion-panel> -->

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  สถานที่จัดงานสังสรรค์กีฬา
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>

              <mat-panel-title>
                <h4><a href="https://maps.app.goo.gl/XvQKp8vMcekYEHm87">พิกัด ที่นี่ลพบุรี</a></h4>
              </mat-panel-title>


               <a  href="../assets/images/party_place/poster_party.jpg" target="_target"><img src="../assets/images/party_place/poster_party.jpg"
                      class="img-fluid" style="margin: 20px;" width="45%" /></a>
                      <!-- <a  href="../assets/images/party_place/party_place_1.jpg" target="_target"><img src="../assets/images/party_place/party_place_1.jpg"
                        class="img-fluid" style="margin: 20px;" width="45%" /></a>
                     <a  href="../assets/images/party_place/party_place_2.jpg" target="_target"><img src="../assets/images/party_place/party_place_2.jpg"
                          class="img-fluid" width="45%" /></a> -->
                          <br/>
            </mat-expansion-panel>


            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  กำหนดการ
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>

              <mat-nav-list>
                <a mat-list-item href="../assets/images/sport_schedule_n3_2568.png" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>กำหนดการแข่งขันกีฬาสีภายในของ กฟน.3
                </a>
                 <!--<a mat-list-item href="../assets/docs/night-event-schedule.pdf" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>กำหนดการงานเลี้ยงการแข่งขันกีฬาภาค 1 สัมพันธ์
                </a> -->
              </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  ชนิดกีฬาและกติกาการแข่งขัน
                </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>

            <mat-nav-list>
              <a mat-list-item href="../assets/docs/rules/cheerleader_parade_2568.jpg" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกากองเชียร์และพาเหรด
              </a>
              <a mat-list-item href="../assets/docs/rules/football2568.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาฟุตบอล
              </a>
              <a mat-list-item href="../assets/docs/rules/mahasanook2568.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬามหาสนุก
              </a>
              <a mat-list-item href="../assets/docs/rules/shareball2568.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันแชร์บอล
              </a>
              <!-- <a mat-list-item href="../assets/docs/rules/rovn3.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬา ROV/E-Sport
              </a>
              <a mat-list-item href="../assets/docs/rules/tennisn3.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาเทนนิส
              </a>
              <a mat-list-item href="../assets/docs/rules/petanquen3.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาเปตอง
              </a>
              <a mat-list-item href="../assets/docs/rules/tabletennisn3.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาเทเบิลเทนนิส(ปิงปอง)
              </a>
              <a mat-list-item href="../assets/docs/rules/basketballn3.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาบาสเกตบอล
              </a>
              <a mat-list-item href="../assets/docs/rules/takrawn3.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาเซปักตะกร้อ
              </a>
              <a mat-list-item href="../assets/docs/rules/snookern3.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาบิลเลียดและสนุกเกอร์
              </a> -->
              <!-- <a mat-list-item href="../assets/docs/rules/dart.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>การแข่งขันกีฬาดาร์ท (Darts)
              </a>
              <a mat-list-item href="../assets/docs/rules/snooker.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาบิลเลียดและสนุกเกอร์
              </a>
              <a mat-list-item href="../assets/docs/rules/takraw.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาเซปักตะกร้อ
              </a> -->
                <!-- <a mat-list-item href="../assets/docs/rules/bike.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาจักรยาน
              </a>
              <a mat-list-item href="../assets/docs/rules/golf.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬากอล์ฟ
              </a>
              <a mat-list-item href="../assets/docs/rules/Petanque.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาเปตอง
              </a>
              <a mat-list-item href="../assets/docs/rules/badminton.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาแบดมินตัน
              </a>
              <a mat-list-item href="../assets/docs/rules/table-tennis.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาเทเบิลเทนนิส
              </a>
              <a mat-list-item href="../assets/docs/rules/board.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาหมากกระดาน
              </a>
              <a mat-list-item href="../assets/docs/rules/tennis.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬาเทนนิส
              </a>
              <a mat-list-item href="../assets/docs/rules/mahasanook.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬามหาสนุก
              </a>
              <a mat-list-item href="../assets/docs/rules/rov.pdf" target="_target">
                <mat-icon mat-list-icon>navigate_next</mat-icon>กติกาการแข่งขันกีฬา ROV/E-Sport
              </a> -->
              </mat-nav-list>
            </mat-expansion-panel>

            <!-- <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  คณะทำงาน
                </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
              <img src="../assets/docs/workingGroup-1.jpg" class="img-fluid" />
              <img src="../assets/docs/workingGroup-2.jpg" class="img-fluid" />
              <img src="../assets/docs/workingGroup-3.jpg" class="img-fluid" />
              <img src="../assets/docs/workingGroup-4.jpg" class="img-fluid" />
            </mat-expansion-panel> -->

            <!-- <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  แนะนำที่พัก
                </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-nav-list>
                <a mat-list-item href="../assets/docs/hotelandresort.pdf" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                 โรงแรม/ที่พักในเขตอำเภอเมืองเพชรบูรณ์จากหนังสือท่องเที่ยวเพชรบูรณ์
                </a>
                <a mat-list-item href="https://bestreview.asia/travel/hotels-in-phetchabun/" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  แนะนำ 10 ที่พักเพชรบูรณ์ ที่สามารถมองเห็นวิวทิวทัศน์สวยๆ แบบพาโนรามา
                </a>
                <a mat-list-item href="https://gangtravel.com/18087" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  12 ที่พักเพชรบูรณ์ 2565 นอนชิล ดูวิวทะเลหมอกฟินๆ
                </a>
                <a mat-list-item
                  href="https://www.tripgether.com/%E0%B8%AD%E0%B8%B1%E0%B8%9B%E0%B9%80%E0%B8%94%E0%B8%95%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7/10-%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%9E%E0%B8%B1%E0%B8%81%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B9%80%E0%B8%82%E0%B8%B2%E0%B8%84%E0%B9%89%E0%B8%AD-%E0%B8%9A%E0%B8%A3%E0%B8%A3%E0%B8%A2%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%A8%E0%B8%AA%E0%B8%B8%E0%B8%94%E0%B8%8A%E0%B8%B4%E0%B8%A5%E0%B8%A5%E0%B9%8C-%E0%B8%8A%E0%B8%A1%E0%B8%A7%E0%B8%B4%E0%B8%A7%E0%B8%97%E0%B8%B0%E0%B9%80%E0%B8%A5%E0%B8%AB%E0%B8%A1%E0%B8%AD%E0%B8%81%E0%B9%84%E0%B8%94%E0%B9%89%E0%B8%88%E0%B8%B2%E0%B8%81%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%9E%E0%B8%B1%E0%B8%81/"
                  target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  10 ที่พักสวยเขาค้อ บรรยากาศสุดชิลล์ ชมวิวทะเลหมอกได้จากห้องพัก
                </a>
                <a mat-list-item href="https://www.chiangmaiexpert.com/city-hotel-phetchabun/" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  12 ที่พัก ในตัวเมืองเพชรบูรณ์ เดินทางสะดวก
                </a>
                <a mat-list-item href="https://www.nonnaidii.com/accommodation-in-phetchabun-city-center/"
                  target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  6 ที่พักเพชรบูรณ์ ในเมือง ราคาถูกแต่ได้ห้องคุณภาพ!
                </a>
              </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  แนะนำร้านอาหาร
                </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-nav-list>
                <a mat-list-item href="https://www.wongnai.com/listings/phetchabun-mountain-view-restaurants"
                  target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  20 ร้านอาหารเพชรบูรณ์ บรรยากาศดี สไตล์ธรรมชาติ
                </a>
                <a mat-list-item href="https://travel.kapook.com/view154381.html" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  10 ร้านอาหารเพชรบูรณ์ อร่อยสะใจ กินจนต้องร้องขอชีวิต
                </a>
                <a mat-list-item href="https://www.ryoiireview.com/article/phetchabun-restaurants/" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  ร้านอาหารเพชรบูรณ์ อิ่มอร่อยคุ้มค่าน่าแวะทุกร้าน
                </a>
                <a mat-list-item href="https://gangtravel.com/17678" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  8 ร้านอาหารเพชรบูรณ์ 2565 อร่อยโดนใจ ต้องลอง
                </a>
                <a mat-list-item href="https://www.chillpainai.com/scoop/14603/" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  20 คาเฟ่เขาค้อ เพชรบูรณ์ จิบกาแฟชมสายหมอก
                </a>
                <a mat-list-item href="https://www.wongnai.com/listings/cafe-in-phetchabun" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  20 คาเฟ่เพชรบูรณ์ บรรยากาศดี ต้องแวะเช็กอิน
                </a>
              </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  แนะนำสถานที่ท่องเที่ยว
                </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-nav-list>
                <a mat-list-item
                  href="https://roijang.com/%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%E0%B9%80%E0%B8%9E%E0%B8%8A%E0%B8%A3%E0%B8%9A%E0%B8%B9%E0%B8%A3%E0%B8%93%E0%B9%8C/"
                  target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  29 ที่เที่ยวเพชรบูรณ์ 2023 เที่ยวเพชรบูรณ์
                </a>
                <a mat-list-item href="https://travel.trueid.net/detail/D9LOamErV42" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  15 ที่เที่ยวเพชรบูรณ์ เที่ยวเมืองรอง ไปเมื่อไหร่ ต้องห้ามพลาด!
                </a>
                <a mat-list-item
                  href="https://th.tripadvisor.com/Attractions-g2098205-Activities-Phetchabun_Province.html"
                  target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  สถานที่ท่องเที่ยวยอดนิยมใน จังหวัดเพชรบูรณ์
                </a>
                <a mat-list-item href="https://www.wongnai.com/listings/attractions-phetchabun" target="_target">
                  <mat-icon mat-list-icon>navigate_next</mat-icon>
                  30 ที่เที่ยวเพชรบูรณ์ จังหวัดเดียวเที่ยวครบรส แวะไม่หมดไม่กลับบ้าน!
                </a>
              </mat-nav-list>
            </mat-expansion-panel> -->
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
