<img src="../assets/images/banner/banner_n3_2568.png" class="img-fluid" style="margin-top: -25px; height: 50%;" />

<div class="container mt-2">
  <div class="row">
    <div class="col-12 col-md-6">
      <mat-card class="example-card">
        <!-- <mat-card-header class="mat-card-header-ebook">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>E - Book</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <!-- <img mat-card-image class="mat-card-image-born" src="../assets/images/born_card.png" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <div>
            <img mat-card-lg-image class="mat-card-image-born" src="../assets/images/poster_sport_n3_2568.jpg" style="width: 100%;margin-top: 0%;" alt="Photo of a Shiba Inu">
            <!-- <a class="tag-e-book" mat-raised-button  color="primary" target="_blank" href="https://online.fliphtml5.com/jwsml/doqy/index.html#p=1">เปิด E-Book</a> -->
          </div>
        </mat-card-content>

      </mat-card>
      <!-- <mat-card class="mb-2">
        <mat-card-content>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/oqPM9_q3q-U" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
      </mat-card> -->
      <!-- <mat-card>
        <mat-card-content>
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="3000">
                <img src="../assets/images/sportn3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="3000">
                <a href="../assets/docs/opening-schedule.pdf" target="_blank"><img src="../assets/images/banner/3.jpg"
                    class="d-block w-100" alt="..."></a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </mat-card-content>
      </mat-card>-->
    </div>
    <div class="col-12 col-md-6">
      <mat-card>
        <mat-card-header>
          <!-- <mat-card-title>ตราสัญลักษณ์การแข่งขันกีฬา111 “ต๋าแหลว”</mat-card-title> -->
        </mat-card-header>
        <mat-card-content>

          <div class="row">
            <div class="col-10" ><img mat-card-image class="mat-card-image-logo center" src="../assets/images/logo_sport_n3.png"></div>
            <!-- <div class="col-8">
              <p>ความหมายตราสัญลักษณ์งานกีฬา<br />
                การแข่งขันกีฬาภาค 1 สัมพันธ์ ประจำปี 2562 นี้ ทางทีมงานออกแบบตราสัญลักษณ์เลือกที่จะใช้ “ต๋าแหลว” หรือ
                “ตาเหลว”
                ซึ่งเป็นเครื่องจักสานชนิดหนึ่งทำจากไม้ไผ่ โดยใช้ตอกหนึ่งก้านหักไปมาเป็นแฉก
                หรือจะใช้ตอกหลายก้านมารวมเป็นแฉกก็ได้
              </p>
            </div> -->
          </div>

          <div class="row">
            <div class="col">
              <p>กีฬาสีสานสัมพันธ์ การไฟฟ้าส่วนภูมิภาค เขต 3 (ภาคเหนือ) จังหวัดลพบุรี<br/>
                คณะผู้บริหาร การไฟฟ้าส่วนภูมิภาค เขต 3 (ภาคเหนือ) จังหวัดลพบุรี ได้มีการให้ความสำคัญกับสุขภาพ พลานามัยของพนักงานในสังกัด รวมถึงเป็นการส่งเสริม ประกอบกับส่งเสริมนโยบาย Happy Work Place ของ นายศุภชัย เอกอุ่น ผู้ว่าการ การไฟฟ้าส่วนภูมิภาค และเป็นการสร้างความสัมพันธ์อันดีในหมู่คณะผู้บริหาร และพนักงาน จึงได้จัดการแข่งขันกีฬาสี สานสัมพันธ์ขึ้น โดยแบ่งเป็น 4 สี
                <br/>
                  * สีเขียว ประกอบด้วย ฝ่ายวิศวกรรมและบริการ และ การไฟฟ้าส่วนภูมิภาคจังหวัดเพชรบูรณ์ <br/>
                  * สีแสด ประกอบด้วย ฝ่ายปฏิบัติการและบำรุงรักษา การไฟฟ้าส่วนภูมิภาคจังหวัดชัยนาท และการไฟฟ้าส่วนภูมิภาคจังหวัดอุทัยธานี <br/>
                  * สีชมพู ประกอบด้วย การไฟฟ้าส่วนภูมิภาคจังหวัดนครสวรรค์ และการไฟฟ้าส่วนภูมิภาคจังหวัดสิงห์บุรี <br/>
                  * สีฟ้า ประกอบด้วย ฝ่ายสนับสนุนการบริหารงาน กองสนับสนุนงานเขต และการไฟฟ้าส่วนภูมิภาคจังหวัดลพบุรี<br/>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="col-12" ><img mat-card-image class="mat-card-image-logo"  src="../assets/images/quote.png"></div>
            </div>
            </div>
          <div class="row">
            <div class="col">
              <!-- <p>ภาพรวม : ตอก 4 สี 4 ก้านที่มารวมเป็นแฉก โดยมีตอกสีทองสานอยู่ทั้งด้านบนและล่าง เปรียบเสมือนความสามัคคี
                ร่วมมือ
                ร่วมใจ อย่างเหนียวแน่นของผู้บริหารและพนักงานในสังกัดสายงานการไฟฟ้า ภาค 1 ประกอบด้วย กฟน.1 กฟน.2 กฟน.3
                และ
                ฝวธ.(ภ1)
                เพื่อพัฒนา กฟภ. ให้มุ่งหน้าเข้าสู่ “PEA DIGITAL UTILITY” ตามนโยบาย แนวคิด และแผนยุทธศาสตร์ของ ผวก.
                มีการปฏิบัติงานที่ยึดมั่นในคุณธรรม จริยธรรม ตามนโยบายของ รผก.(ภ1) นั่นคือ ตอกสีทอง
                ซึ่งจะเป็นเกราะป้องกันสิ่งชั่วร้าย สิ่งไม่ดีต่างๆ
                ที่จะทำให้การดำเนินงานมีความไม่โปร่งใสและไม่เป็นไปตามเป้าหมายขององค์กรที่ได้กำหนดไว้
              </p> -->
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
